.banner_ {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50vw;
    background: url('../src/assets//home-banner.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width:768px) {
    .banner_ {
        opacity: .4;
        width: 102vw;
    }
}
