.banner_ {
    position: absolute;
    right: 0;
    top: 0;
    background: url('../src/assets//home-banner.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 50vw;
}

#introduction{
    height: 100vh;
}
.box{
    transition: all 1s ease;
}
.icon_b{
    position: relative;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin-bottom: 30px;
    transition: all 1s ease;
}
.icon_b::after{
    position: absolute;
    width: 120px;
    height: 120px;
    content:"";
    border-radius: 50%;
    background-color:  #ffc107;
    left: -25px;
    top: -20px;
    overflow: hidden;
    /* transition: all 1s ease; */
}
.box:hover .icon_b::after{
    background-color: #000;
}
.box:hover{
    transition: all 1s ease;
    background-color: #ffc107;
}

@media only screen and (max-width:768px) {
    .banner_ {
        opacity: .4;
        width: 102vw;
        height: 100%;
    }
}

@media only screen and (max-width: 1275px) and (min-width: 767px)  {
    .circular_avatar {
      height: 100%;
      width: 100%;
    }
}
