.intro {
    position: relative;
    z-index: 99;
}

.banner_ {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    background: url('https://res.cloudinary.com/dak3widz1/image/upload/v1681568072/Untitled_design_rvxuuq.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 50vw;
}

#introduction {
    height: 100vh;
}

.box {
    transition: all 1s ease;
}

.icon_b {
    position: relative;
    height: 130px;
    width: 130px;
    overflow: hidden;
    margin-bottom: 30px;
}

.icon_b i {
    position: relative;
    z-index: 2;
    position: absolute;
    left: 22px;
    z-index: 99;
    top: 25px;
}

.icon_b::after {
    position: absolute;
    width: 140px;
    height: 140px;
    content: "";
    /* border-radius: 50%; */
    background-color: #eebb13;
    width: 120px;
    height: 120px;
    content: "";
    border-radius: 50%;
    background-color: #ffc107;
    left: -25px;
    top: -20px;
    z-index: 1;
    overflow: hidden;
    transition: .5s ease-in-out
}

@media screen and (max-width:450px) {
    .icons {
        display: none !important;
    }
}

.box:hover .icon_b::after {
    background-color: #000;
    color: #fff;
}

.box:hover {
    transition: all 1s ease;
    background-color: #eebb13;
    color: #fff;
}

@media only screen and (max-width:768px) {
    .banner_ {
        opacity: .4;
        width: 102vw;
        height: 100%;
    }
}

@media only screen and (max-width: 1275px) and (min-width: 767px) {
    .circular_avatar {
        height: 100%;
        width: 100%;
    }
}

/*  */
.inner-rect-bar {
    background-color: #ffc107 !important;
}

.sc-gueYoa:nth-child(2) {
    animation: progress-bar 2s linear;
}

@keyframes progress-bar {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.cYdaXr {
    overflow: hidden;
    margin: 0 7px 15px 7px !important;
    /* margin-bottom: 20px !important; */
}

.cYdaXr:hover img {
    transform: scale(1.2);
    transition: transform 0.5s;
    transition-timing-function: ease-in-out;
    opacity: .6;
}

.cYdaXr img {
    transition: transform 0.5s;
    transition-timing-function: ease-in-out;
}