@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  background-color: #000;
}

.what-id-do .title {
  position: relative;
}

.what-id-do .title h1::after {
  position: relative;
}

.what-id-do .title h1::after {
  position: absolute;
  content: "";
  height: 45px;
  width: 45px;
  background: #d47901;
  border-radius: 50%;
  top: 0;
  left: -10px;
  opacity: .6;
  animation: animi 3s linear infinite;

}

.edu_title h1 {
  position: relative;
  z-index: 1;
}

.edu_title h1::after {
  position: absolute;
  content: "";
  height: 45px;
  width: 45px;
  background: #ffc107;
  border-radius: 50%;
  top: 0;
  left: -10px;
  opacity: 1;
  animation: animi 3s linear infinite;
  z-index: -1;

}

.box_edu {
  height: auto;
  padding-bottom: 30px;
}

@keyframes animi {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}