@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
}

.banner_ {
  position: absolute;
  content: "";
  background: url('../src/assets//home-banner.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  top: 0;
  right: 0;
  width: 50vw;
  z-index: 1;
}
